*{
    margin: 0px;
    padding: 0;
}
html{
    height: 1000px;
    width: 1000px;
}
.header{
    width: 1000px;
    height: 100px;
    background-color: gray;
    padding: 15px;
}
.navbar{
    width: 100px;
    height: 70px;
    background-color: mediumorchid;
    padding: 15px;
}